<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <p>{{ content }}</p>

    <h2>Liste des utilisateurs :</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.getUsername() }} ({{ user.getEmail() }})</li>
        {% endfor %}
    </ul>

    <h2>Liste des articles :</h2>
    <ul>
        {% for article in articles %}
            <li>{{ article.getTitle() }}</li>
        {% endfor %}
    </ul>
</body>
</html>